#mainContent{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    margin: auto auto;
    justify-content: center;
    align-items: center;
    padding: 8%;
}

.boxContent {
    height: 125px;
    width: 125px;
    background-color: dimgrey;
    margin: 15px;
}

.boxContentLight {
    height: 125px;
    width: 125px;
    background-color: darkgrey;
    margin: 15px;
}


